<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="styles/base.css" />
		<title>Three.js template</title>

	</head>
	<body>
		<audio id="audio_player"autoplay="autoplay"><source src="media/mad_world.mp3" type="audio/mp3"></audio>
		<div id="three"></div>
		<div id="nav">
			<h1>Lonely Planet</h1>
			<div id="tweets"></div> 
		</div>
		<script charset="utf-8" src="scripts/jquery.js"></script>
		<script charset="utf-8" src="scripts/skip.js"></script>
		<script charset="utf-8" src="scripts/three.js"></script>
		<script charset="utf-8" src="scripts/application.js"></script>
		
		<script type="text/javascript">
			var songPaths = ["media/nothing_compares.mp3", "media/nutshell.mp3", "media/miss_misery.mp3", "media/no_surprises.mp3" ],
				songIndex = 0,
				audioPlayer = document.getElementById('audio_player');

			$('#audio_player').on('ended', function(){
				audioPlayer.src = songPaths[songIndex];
				songIndex !== 3 ? songIndex++ : songIndex = 0;
			})
		</script>		
	</body>
</html>