

body
{
	margin: 0;
	background-color: #000;
	padding: 0;
	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
	font-size:   12px;
	line-height: 20px;
	overflow: hidden;
}

#nav{
	position:absolute;
	width: 350px;
	height: 750px;
	background-color: rgba(255,255,255, .2);
	display:inline-block;
	z-index: 1000;
	border-right:1px solid white;
}

.img {
	display: inline-block;
	float:left;
	margin-right:10px;
}

.tweet-wrapper{
	display:inline-block;
	float:left;
	max-width: 240px;
}

.tweet{
	background-color:rgba(255,255,255,.4);
	position:relative;
	padding:10px;
	width:300px;
	margin: 10px 10px 0px 15px;
	-webkit-border-radius:5px;
	display:inline-block;
}

.tweet:hover{
	background-color:rgba(255,255,255,.7);
}

.location {
	font-size: 10px;
	float:right;
}

.followers{
	font-size:10px;
	line-height:90%;
	margin-bottom:5px;
}

.user-name{
	font-weight:bold;
}

.user-name a{
	color:black;
}

h1{
	line-height: 200%;
	font-size:45px;
	width:300px;
	color:gray;
	font-family: helvetica;
	text-align:center;
	margin:0px auto;
	font-weight:300;
	letter-spacing: -2px;
	border-bottom:1px solid gray;
}

#control_panel{
	position:relative;
	float:right;
	width:215px;
	height:450px;
	margin:150px 0px;
	color:gray;
}

#control_title{
	position: relative;
	display: block;
	font-size:16px;
	margin: 15px 5px 10px 5px;

	text-align:center;
}

.hidden{
	left:195px;
	-webkit-transition: all .25s;
}

.shown{
	left:0px;
	-webkit-transition: all .25s;
}

.hidden_tweets{
	left:-350px;
	-webkit-transition: all .25s;	
}

#controls{
	background-color: rgba(255,255,255, .2);
	float:right;
	height:100%;
	width:195px;
	-webkit-border-radius:5px 0px 0px 5px;
}

#controls {
	text-decoration: none;
	display: block;
	padding:0px;
	margin:0px;
}

.option-wrapper div{
	float:left;
	width:25%;
	padding:0px 5px;
	margin:5px 0px ;
	text-align:center;
	height:24px;
	line-height:193%;
}

.option_type {
	font-size:14px;
}

.option {
	border: 1px solid gray;
}

.option:hover {
	cursor:pointer;
}

.option-one {
	-webkit-border-radius: 12px 0px 0px 12px;
	margin-right:0px;
	padding-right:0px;
	border-right:0px;
}

.option-two {
	-webkit-border-radius: 0px 12px 12px 0px;
	margin-left:0px;
	padding-left:0px;	
}

.active {
	-webkit-box-shadow:  
		inset 4px 4px 4px -4px #888,
		inset -4px 4px 4px -4px #888;
}

#flag{
	position:relative;
	float:left;
	height:50px;
	width:20px;
	margin:0px;
	margin-top:185px;
	background-color: rgba(255,255,255, .2);
	z-index:200;
	-webkit-border-radius:5px 0px 0px 5px;
}

#flag:hover{
	cursor:pointer;
}

#three
{
	position: absolute;
	/*margin-top:60px;*/
	width:100%;
	height:100%;
}

